
@media screen and (max-width: 480px ){
  .parrafo{
    font-size: 18px;
  }
}



.parrafo_small{
  font-size: 16px;
}

$black-color: #231f20;
/*$brown-color: #aa9999;*/
$brown-color: #A4A4A4;
$grey-color: #bdbfc1;

@media screen and (max-width: 480px){
  
}

@font-face{
  font-family: 'gotham';
  src: url('../fonts/Gotham-Medium.ttf');
}

body{
  font-family: gotham;
  p{

    font-size: 22px;
  }
  h3{
    font-size: 28px;
  }
}
#navbar{
  height: auto;
  background-color: white;
  margin-bottom: 0px;
  @media screen and (max-width: 480px ){
    height: 100px;
  }
  .logo-mobile{
    margin-top: 20px;
  }
  .logo{
    height: 80px;
    img{
      height: 80px;
    }
  }
  .logo1{
    // @media screen and (max-width: 480px ){
    //   font-size: 20px;
    //   padding-left: 0;
    //   text-align: left;
    // }
    text-align: right;
    color: black;
    font-size: 28px;
    height: 80px;
    padding: 15px;
  }
  ul{
    display: flex;
    justify-content: space-between;
    padding-left: 0;
    li{
      a{
        font-size: 20px;
        color: black;
        line-height: 1;
      }
    }
  }
}

#nav-mobile{
  padding-top: 6px;
 }

#cover{
  background-image: url('../img/sismo_aerea.jpg');
  overflow: hidden;
  .info-cover{
    background-color: $black-color;
    padding-top: 20px;
    color: white;
    padding-bottom: 20px;
  }
  .submit-report{
    background-color: rgba(0, 0, 0, .2 );
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 80px;
    padding-top: 100px;
    padding-bottom: 100px;
    a{
      @media screen and (max-width: 480px ){
        font-size: 20px;
      }
      color: white;
      border: solid 2px;
      padding: 25px;
      border-radius: 5px;
      background-color: rgba(0, 0, 0, .5 ); 
    }
  }
}

#detalles{
  
  #queHacemos{
    height: 250px;
    padding-top: 30px;
  }
  #comoAyudar{
    background-color: $black-color;
    height: 500px;
    padding-top: 30px;
    color: white;
    @media screen and (max-width: 480px){
        .pictoline{
          padding: 0;
          img{
            padding: 0;
          }
        }
      }
    p{
      display: inline-block;
      font-size: 25px;
    }
    img{
      height:300px;
    }
  }
  #reporta{
    padding-top: 50px;
    background-color: $black-color;
    color: white;
    height: 300px;
    h3{
      font-size: 45px;
    }
  }

}


#mapaSismo{

  padding-top: 20px;
  h3{
    @media screen and (max-width: 480px){
      text-align: center;
      width: 100%;
    }
    padding-left: 0;
  }
  h4{
    font-size: 22px;
  }
  .info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 180px;
    &>div{
      padding: 0;
    }
  }
}



#feed{
  @media screen and (max-width: 480px){
    padding: 0;
    .container{
      margin-left: 0;
      margin-right: 0;
      width: 100%;
      .tweets{
        padding: 0;
        width: 100%;
        div{
          padding: 0;
          width: 100%;
        }
      }
    }

  }
  background-color: $brown-color;
  padding-top: 20px;
  height: auto;
  .titulo-feed{
    color: white;
    text-shadow: 0 0 10px #424242;
  }
}

#ofertaAyudaContainer{
  float: initial;
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 40px;
}

#ofertaAyuda{
    width: 80%;
    margin: auto;
    border: 3px solid white;
    border-radius: 6px;
    background-color: rgba(0,0,0,0.2);
    text-align: center;
    padding: 5px;
}

#nosotros{
  h3{
    display: inline-block;
  }
  .somos{
    margin-bottom: 30px;
  }
}

#invites{
  padding-top: 20px;
  padding-bottom: 30px;
  background-color: black;
  color: white;

  .invite{
    h3{
      display: inline-block;
      padding-left: 20px;
      padding-right: 20px;
      text-align: center;
    }
    margin-top: 30px;
  }
}

#collaborators{
  @media screen and (max-width: 480px){
    background-position: center;
    background-size: auto;
    height: auto;
  }
  background-image: url('../img/collaborators.jpg');
  background-size: cover;
  height: 400px;
  background-position-y: -282px;
  color: white;
  .fondo{
    padding-top: 30px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .2 );
  }
}

#feed .container{
padding-top: 20px;
}


.line{
  border-bottom: solid 2px white;
  width: 50px !important;
  display: inline-block;
}

.line-black{
  border-bottom: solid 2px black;
  width: 50px !important;
  display: inline-block;
}

.line-grey{
  border-bottom: solid 2px $grey-color;
  width: 50px !important;
  display: inline-block; 
}


















